@model IList<Simonides.Models.DeckModel>
@{
    ViewBag.Title = "Memorise a Deck";
}

<h2>New Deck</h2>

Create a @Html.ActionLink("new deck", "New").

<h2>Previous Decks</h2>

@foreach (var deck in Model)
{
    <div class="deck-details">
        <div class="deck-name">
            @deck.DeckId
        </div>
        <div class="show-deck-link">
             @Html.ActionLink(
                 "Show Cards",
                 "Show",
                 new
                 {
                     @id = deck.DeckId
                 })
        </div>
        <div class="test-deck-link">
            @Html.ActionLink(
                 "Test Deck",
                 "Test",
                 new
                 {
                     @id = deck.DeckId,
                     @difficulty = Simonides.Models.Enums.TestDifficulty.ChoiceOf2
                 })
        </div>
    </div>
}