@model Simonides.Models.DeckModel
@{
    ViewBag.Title = "Memorise a Deck";
}

<div class="deck">
    @foreach (var card in Model.Cards)
    {
        <div class="card">
            <img src="@card.Image" alt="@card.Code" />
        </div>
    }
</div>