@model Simonides.Models.TestModel
@{
    ViewBag.Title = "Memorise a Deck";
}

<h2>
    Test Deck @Model.DeckId
</h2>

<h3>Difficulty: Multiple Choice of 4</h3>

@Html.React(
    "TestCard",
    Model,
    serverOnly: true)