@model Simonides.Models.TestModel
@{
    ViewBag.Title = "Memorise a Deck";
}

<h2>
    Test Deck @Model.DeckId
</h2>


@Html.React(
    "Components.DifficultyPicker",
    Model,
    serverOnly: true)

@Html.React(
    "Components.TestCard",
    Model,
    serverOnly: true)