@model Simonides.Models.TestModel
@{
    ViewBag.Title = "Memorise a Deck";
}

<h2>
    Test Deck @Model.DeckId
</h2>

<h3>Difficulty: @Model.Difficulty</h3>

@Html.React(
    "Components.TestCard",
    Model,
    serverOnly: true)