@model Simonides.Models.TestModel
@{
    ViewBag.Title = "Memorise a Deck";
}

<h2>
    Test Deck @Model.Deck.DeckId
</h2>

<h3>Difficulty: Multiple Choice of 4</h3>

@{ Html.RenderAction("TestCard", Model); }

@Html.ActionLink("Next Card", "NextTestCard", Model)

<div id="testcard" position="@Model.Position"></div>

<script src="@Url.Content("~/Scripts/HelloWorld.jsx")"></script>

