html {
    height: 100%;
}
body {
    background-image: linear-gradient(to bottom, #1A4A1C, #308834 100%);
    color: #fff;
    height: 100%;
    font-family: "Segoe UI", Calibri, Arial, Helvetica, sans-serif;
}

a {
    color: #ffffdc;
}
a:hover {
    color: #ffd459;
}

.deck {
    width: 1200px;
}

.card {
    display: inline-block;
    width: 75px;
    margin: 5px;
    border-radius: 5px;
    height: 105px;
    cursor: pointer;
}

.card.disabled {
    opacity: 0.5;
    cursor: initial;
}

.card.checking {
    box-shadow: rgba(200,180,0,.8) 0px 0px 10px;
}
